body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(110deg, #792707, #4f0e77, #222); /* 135 fokos narancs-fekete átmenet */
    color: #fff;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#restart-button {
    font-family: 'Uncial Antiqua', serif;
    background-color: #8e2e08; 
    color: #fff; 
    letter-spacing: 2px;
    font-size: 1.1em;
    padding: 10px 20px;
    border: 2px solid #000; /* fekete szegély */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* gombárnyék */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

/* Hover és aktív állapot */
#restart-button:hover {
    background-color: #ef4815; /* sötétebb narancssárga */
    transform: scale(1.05);
}


#restart-button:active {
    background-color: #c33b12; /* még sötétebb narancssárga */
    transform: scale(0.98);
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 800px;
}

/*a div doboz*/
.collected-card {
    display: flex;
    gap: 0px; /* A kártyák közötti távolság */
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}


.card {
    background-color: #3a1834;
    border: 2px solid #380538;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* A kártya tartalma a kártyán belül maradjon */
    width: 100px;
    height: 150px; /* Fix magasság, hogy ne essen össze, mikor üres a sor*/
}

.card img {
    max-height: 150px;
    width: auto; /* Arányos szélesség */
    max-width: 100%; /* Alkalmazkodik a kártya szélességéhez */
    border-radius: 10px;
}

.card.flipped {
    background-color: #988688;
}

/*a gyűjtött kártya*/
.card.collected {
    width: 50px; 
    height: 85px; /* Magasság automatikus */
    margin: 0; /* Eltávolítja az esetleges margót */
    padding: 5px;
}

.card.collected img {
    max-height: 75px; 
    width: auto; /* Arányos szélesség */
    max-width: 100%; /* Alkalmazkodik a kártya szélességéhez */
    border-radius: 10px; 
    
}


.card.empty {
    background-color: #3a1834; /*transparent ha teljesen átlátszóra akarom*/
    border: 2px dashed #3a1834; 
    /*visibility: hidden;  Ha teljesen eltüntetjük az üres kártyákat: hidden */
}

.card.matched {
    opacity: 0.5;
}



